$main-color : #3C4245; $second-color : #DFCDC3; $next-color : #719192; 

//section nav
header.contact-second-color{
    color: $main-color;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


//section home
.contact{
    display: block;
}

.contact .row{
    align-items: center;
}

.contact img{
    border-radius: 500px;
    box-shadow: black;
    height: 100%;
    width: 100%;
}
.contact p:first-child{
    width: 50%;
}

.contact p, .contact h2{
    color: white;
}

.contact .col-6{
    align-items: center;
}

//section color
.contact-main-color{
    background-color: $main-color;
}

.contact-second-color{
    background-color: $second-color;
    color: white;
}

.contact-text-color{
    background-color: $main-color;
}

.contact-active{
    color: $next-color;
    font-weight: bold;
}

.form-control {
    color: #ffffff;
    background-color: #3c4245;
}