$main-color : #DFCDC3; $second-color : #719192; $next-color : #3C4245; 

//section nav
header.portfolio-second-color{
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


//section home
.portfolio{
    display: block;
}

.portfolio .row{
    align-items: center;
}

.portfolio img{
    height: 100%;
    width: 100%;
}
.portfolio p:first-child{
    width: 50%;
}

.portfolio p, .portfolio h2{
    color: white;
}

.portfolio .col-6{
    align-items: center;
}

//section color
.portfolio-main-color{
    background-color: $main-color;
}

.portfolio-second-color{
    background-color: $second-color;
    color: white;
}

.portfolio-text-color{
    background-color: $main-color;
}

.portfolio-active{
    color: $next-color;
    font-weight: bold;
}

//section image
.bg-work{
    background-image: url("../media/project1.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    // transition: all 5s;
}

.bg-work:hover{
    background-image: url("../media/project1.PNG");
    background-repeat: no-repeat;
    background-size: 150%;
    cursor: pointer;
}

.portfolio-dimensions{
    width : 100px;
    height : 25vh;
}

.portfolio-dimensions:hover{
    cursor: pointer;
}

// .portfolio-dimensions::before{
//     content: url("../media/hover-eye.png");
//     display: none;
//     position: absolute;
//     width: 100%;
//     height : 25vh;
//     background-color: rgba(0, 0, 0, 0.575);
//     color: white;
//     text-align: center;
//     line-height: 330px;
//     cursor: pointer;
// }

// .portfolio-dimensions:hover:before{
//     display: block;
// }